@import "compass";
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

$base-font-size: 16px;
$base-line-height: 24px;
$orange: rgb(249, 162, 94);
$font-color: rgb(0, 79, 57);
$box-shadow-color: transparentize(black, 0.5);

@include establish-baseline;

body {
	background-color: white;
	color: $font-color;
	font-family: 'Quattrocento Sans', sans-serif;
	margin: 0;
}

.page {
	@include single-box-shadow($color: $box-shadow-color, $blur: 5px);
	background-image: image-url('background.jpg');
	margin: auto;
	width: 1020px;
}

header {
	background-image: image-url('background-header.jpg');
	border-bottom: 3px solid transparentize($orange, 0.75);
	padding: 10px;
	position: relative;
}

.logo {
	@include replace-text-with-dimensions('logo.png');
 	margin: auto;
}

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	a {
		@include unstyled-link;
		display: block;
		line-height: $base-font-size;
		padding: 15px 30px;
		text-transform: uppercase;
	}
}

#portfolio-link {
	position: absolute;
	bottom: 0;
	left: 0;
}

#contact-link {
	position: absolute;
	bottom: 0;
	right: 0;
}

.prose {
	@include padding-leader(1);
	margin: auto;
	width: 450px;
}