@import "compass";

body {
	background-color: white;
	margin: 0;
}

.page {
	background-image: image-url('background.jpg');
	margin: auto;
	width: 1020px;
}

header {
	background-image: image-url('background-header.jpg');
}

.logo {
	@include replace-text-with-dimensions('logo.png');
 	margin: auto;
}

